.signup-form {
  max-width: 400px;
  margin: 0px auto 36px auto;
  padding: 0px 20px;
}

h2 {
  text-align: center;
  margin: 40px auto 0 auto;
}

.signup-form label {
  display: block;
  margin: 30px 15px;
}

.signup-form span {
  display: block;
  margin-bottom: 6px;
}

.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #555;
  width: 100%;
}

.signup-form button {
  margin: 20px 40%;
}
